<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <div class="container d-flex p-0">
            <!-- ALL CONTACTS -->
            <div class="col-4 left">
                <header class="contacts_header d-flex justify-content-between align-items-center p-2">
                    <div class="header_left d-flex align-items-center">
                        <img src="./assets/img/avatar_1_360.jpg" alt="">
                        <span class="ms-2">Enrico</span>
                    </div>
                    <div class="header_right">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message ms-3 me-3"></i>
                        <i class="fa-solid fa-ellipsis-vertical me-2"></i>
                    </div>
                </header>
                <!-- NOTIFICATION BANNER -->
                <div class="banner d-flex align-items-center pt-3 pb-3 ps-4">
                    <div class="bell d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-bell-slash fs-4"></i>
                    </div>
                    <div class="banner_text ms-2">
                        <p class="mb-0">
                        Ricevi notifiche di nuovi messaggi
                        </p>
                        <a href="#" class="notifiche">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- SEARCH BAR -->
                <div class="search_bar p-2">
                    <div class="input-group">
                        <button class="input-group-text rounded-0 search_btn ps-4 pe-4 border-0 shadow-sm" id=""><i class="fa-solid fa-magnifying-glass icon_light"></i></button>
                        <input type="text" class="form-control rounded-0 border-0 shadow-sm" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                </div>
                <!-- ALL CONTACTS -->
                <div class="box">
                    <div class="contacts ps-4 pt-3 pb-3" v-for="(contact, index) in  contacts" @click="changeContact(index)">
                        <div class="contact_card">
                            <div class="d-flex align-items-start">
                                <img :src="contact.avatar" alt="">
                                <div class="info d-flex flex-row justify-content-between">
                                    <div class="name">
                                        <span class="ms-4 fs-5">{{contact.name}}</span>
                                        <p class="p-0 ms-4 last_message">Ultimo messaggio inviato</p>
                                    </div>
                                    <div class="time me-2 pt-1">
                                        12:00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ACTIVE CHAT -->
            <div class="col-8 right position-relative">
                <header class="active_contact_header d-flex justify-content-between align-items-center p-2">
                    <div class="header_left d-flex align-items-center">
                        <img :src="contacts[activeContact].avatar" alt="">
                        <div class="name">
                            <span class="ms-4 fs-5">{{contacts[activeContact].name}}</span>
                            <p class="p-0 ms-4 mb-0 last_message">Ultimo accesso oggi alle 12</p>
                        </div>
                    </div>
                    <div class="header_right">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip ms-3 me-3"></i>
                        <i class="fa-solid fa-ellipsis-vertical me-2"></i>
                    </div>
                </header>
                <!-- CHAT -->
                <div class="chat mt-5">
                    <div class="container_small">
                        <div class="row">
                            <div class="messages flex-column" v-for="(message, index) in contacts[activeContact].messages">

                                <div :class="message.status == 'sent' ? 'sent' : 'received'">
                                    <div>
                                        <p class="m-0 p-3 rounded-2" :class="message.status == 'sent' ? 'sent_msg' : 'received_msg'">{{message.message}}
                                            <span class="msg_time ps-3 align-self-end">{{message.date}}</span>
                                        </p>
                                    </div>
                                </div>
                                <!-- <div class="static">
                                    <div class="sent d-flex justify-content-end align-items-center mb-2">
                                        <p class="m-0 sent_msg p-3 rounded-2">{{contacts[0].messages[0].message}}
                                            <span class="msg_time ps-3 align-self-end">{{contacts[0].messages[0].date}}</span>
                                        </p>
                                    </div>
                                    <div class="sent d-flex justify-content-end align-items-center mb-2">
                                        <p class="m-0 sent_msg p-3 rounded-2">Ricordati di stendere i panni <span class="msg_time ps-3 align-self-end">{{contacts[0].messages[1].date}}</span></p>
                                    </div>
    
                                    <div class="recevied d-flex justify-content-start align-items-center">
                                        <p class="m-0 recevied_msg p-3 rounded-2">Tutto fatto! <span class="msg_time ps-3 align-self-end">{{contacts[0].messages[2].date}}</span></p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat_nav">
                    <div class="container-fluid d-flex p-0 position-absolute bottom-0 start-0">
                        <div class="col-1 chat_input p-2 fs-4 d-flex justify-content-center align-items-center"><i class="fa-regular fa-face-smile icon_gray"></i></div>
                        <div class="col-10 chat_input p-2 d-flex justify-content-center align-items-center">
                            <input type="text" name="" id="" class="border-0 chat_input bg-light message_input" placeholder="Scrivi un messaggio"> 
                        </div>
                        <div class="col-1 chat_input p-2 d-flex justify-content-center align-items-center"><i class="fa-solid fa-microphone icon_gray fs-4"></i></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>
