body{
    height: 100vh;
}

#app{
    background: linear-gradient(180deg, rgba(0,150,136,1) 25%, rgba(215,219,213,1) 25%);
    height: 100%;
    padding-top: 1rem;
}

.col-4,
.col-8{
    border: 1px solid black;
    height: 100%;
    
}

.container{
    border: 1px solid red;
    height: 850px;
    margin-top: 2rem;
}

img{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.contacts_header{
    background-color: #eaeaea;
}

.header_right{
    color: #b1b1b1;
    font-size: 1.25rem;
}

.bell{
    width: 60px;
    aspect-ratio: 1;
    background-color: #f2fbff;
    border-radius: 50%;
    color: #8edafc;
}

.banner{
    background-color: #8edafc;
}

.notifiche{
    color: #6e6d6d;
}

.search_btn{
    background-color: white;
}

.search_bar{
    background-color: #fafafa;
}

.box
{
overflow-y:auto;
height: calc(850px - 238px);
}

.info{
    width: 100%;
}

.last_message,
.time{
    font-size: 0.75rem;
    color: gray;
}