body{
    height: 100vh;
}

#app{
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(215,219,213,1) 20%);
    height: 100%;
    padding-top: 1rem;
}

.col-4,
.col-8{
    height: 100%;
}

.container{
    height: 850px;
    margin-top: 2rem;
}

.container_small{
    width: 80%;
    margin: auto;
}

img{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.contacts_header{
    background-color: #eaeaea;
}
.active_contact_header{
    background-color: #eaeaea;
    height: 76px;
    border-left: 1px solid lightgray;
}

.header_right{
    color: #b1b1b1;
    font-size: 1.25rem;
}

.bell{
    width: 60px;
    aspect-ratio: 1;
    background-color: #f2fbff;
    border-radius: 50%;
    color: #8edafc;
}

.banner{
    background-color: #8edafc;
}

.notifiche{
    color: #6e6d6d;
}

.search_btn{
    background-color: white;
}

.search_bar{
    background-color: #fafafa;
}

.box
{
overflow-y:auto;
height: calc(850px - 220px);
background-color: white;
}

.info{
    width: 100%;
    flex-direction: column;
}

.last_message,
.time{
    font-size: 0.75rem;
    color: gray;
}

.col-8{
    background-image: url('../img/mine_480.jpg');
}

.chat_input{
    background-color: #f3eeea;
}

.icon_gray{
    color: gray;
}

.icon_light{
    color: #b1b1b1;
}

.chat_input{
    flex-grow: 1;
}

.message_input{
    padding: 15px;
    border-radius: 5px;
    font-size: 0.75rem;
}

.sent_msg{
    background-color: #d5f9ba;
    font-size: 0.9rem;
}

.recevied_msg{
    background-color: white;
    font-size: 0.9rem;
}

.msg_time{
    font-size: 0.75rem;
    color: lightgray;
}